/.vscode
/Cakewalk Theme Editor.lnk
/cropelly22628-DSC_1535-Edit (1).ai
/desktop.ini
/Detroit Become Human.url
/from google import genai.py
/game.db
/history.db
/ice.jpg
/ice.png
/icef.gif
/jpeg.jpg
/resume-marker.py
/resumevol2.py
/roguelike
/roguelike-rpg-main
/save.txt
/steam
/stock_watchlist
/stock_watchlist.db
/tasks = [].py
/todo.py
/watchlist.db
/新しいフォルダー
/日記.txt
/田中月菜　障害について　.pdf
/素材
/素材 - コピー